

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Brands</title>
    <script>
        async function fetchBrands() {
       
            try {
                const response = await fetch('https://django-railway-pkh8.onrender.com/api/brands', {
                    
                    method: 'GET',
                   
                });

                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }

                const data = await response.json();
                displayBrands(data);
            } catch (error) {
                console.error('Error fetching brands:', error);
            }
        }

        function displayBrands(brands) {
            const brandList = document.getElementById('brand-list');
            brandList.innerHTML = ''; // Clear any previous content

            brands.forEach(brand => {
                const listItem = document.createElement('li');
                listItem.textContent = `Brand: ${brand.name}, Country: ${brand.country}, Active: ${brand.active}`;
                brandList.appendChild(listItem);
            });
        }
    </script>
</head>
<body>
    <h1>Brand List</h1>
    <h1>

        Home
    </h1>
    
    
    <ul>
        <li>
            <a href='/'>Home </a>
            
        </li>
        <li>
            <a href='/articles'>articles </a>
    
        </li>
    
    </ul>
    <button onclick="fetchBrands()">Load Brands</button>
    <ul id="brand-list"></ul>
</body>
</html>
